/* Reset body styles and disable text selection */
body {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Full-screen container */
.whole-screen {
  width: 100vw;
  height: 100vh;
}

/* Button container styling */
#button-container {
  width: 100vw;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* Button styling with hover effect */
#btn {
  margin: auto;
  padding: 10px 5px;
  width: calc(180px + 20vw);
  height: auto;
  z-index: 1;
}

.clickable:hover {
  cursor: pointer;
}

/* Name styling */
#name {
  font-weight: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

/* Links inherit color */
a {
  color: inherit;
}

/* Custom font-face for cursive */
@font-face {
  font-family: cursive;
  src: url(fonts/WeddingdayPersonalUseRegular-1Gvo0.ttf);
}

/* Navigation bar styles */
#top-nav {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

/* Side bar styles */
.vertical-bar {
  display: flex;
  flex-direction: column;
}

.side-bar-item {
  text-decoration: none;
  padding: 10px 0 10px 25px;
}

#side-bar-title {
  margin-bottom: 20px;
}

.horizontal-bar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.top-bar-item {
  margin: 10px;
  padding: 10px;
}

.horizontal-bar-item a, .vertical-bar a {
  text-decoration: none;
  font-size: 20px;
}

.horizontal-bar-item a:hover {
  font-weight: 450;
}
.vertical-bar a:hover{
  font-weight: 450;
  background-color: lightgray;
}

/* Main content container */
#main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  height: 100%;
  width: 100%;
}

/* Transition containers */
#dark-mode-container, #light-mode-container, #location, #name {
  transition: color 1s ease;
}


/* Arrow transition effect */
.arrow {
  transition: border 1s ease;
}

/* Side-bar links container */
#side-bar-links {
  margin-top: 20px;
}


/* Icon styling */
.icon {
  height: 24px;
  width: 24px;
}

/* Header styling */
h1 {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

#location {
  font-size: 16px;
  color: #333;
  margin: 0;
}

/* Compact navigation bar for small screens */
#top-nav-full {
  display: none;
}

#top-nav-compact span {
  display: block;
  width: 24px;
  height: 24px;
}
#top-nav-compact {
  display: inline;
}

/* Unstyled list */
ul {
  list-style-type: none;
}

/* Side navigation styling */
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 20px;
}



/* Light and dark container transitions */
.light-container, .dark-container {
  transition: opacity 2s ease-in-out; /* Smooth transition for opacity */
}

.scroll-container{
  display: none;
}

.invisible {
  opacity: 0; /* Make the element invisible */
}

/* Arrow container styling */
.arrow-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.arrow-container a {
  z-index: 2;
  display: inline-block;
  transition: opacity .3s;
}

.arrow-container a span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  box-sizing: border-box;
}

/* Light container arrow animation */
.light-container a {
  transform: translate(0, 50%);
}

.light-container a span {
  position: absolute;
  bottom: 50%;
  animation: point-up 1.5s infinite;
}

/* Dark container arrow animation */
.dark-container a {
  transform: translate(0, -50%);
}

.dark-container a span {
  top: 0;
  transform: rotate(-45deg);
  animation: point-down 1.5s infinite;
}

/* Keyframes for pointing up and down */
@keyframes point-up {
  0% {
    transform: rotate(135deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes point-down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .rain{
    display: none;
  }
  .front-row{
    display: none;
  }
  .snow{
    display: none;
  }
}
  /* Media query for smaller screens */
@media screen and (min-width: 600px) {
  #top-nav-full{
    display: inline;
  }

  #top-nav-compact {
    display: none;
  }
}

@media screen and (min-height: 600px) {
  .scroll-container{
    display: block;
  }
}


.row{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 5px;
  justify-content: center;
}
#top-content-row{
  align-items: start;
}
#bottom-content-row{
  align-items: end;
}
#middle-left-container{
  align-self: start;
  height: 50%;
}
#middle-right-container{
  align-self: end;
  height: 50%;
}
.left, .right, .bottom{
  
  transition: transform 1s ease;
  border-radius: 10px;
}
.offset-left{
  transform: translateX(-10px);
}
.left{
  transform: translateX(-50vw);
}
.right{
  transform: translateX(50vw);
}
.bottom{
  transform: translateY(50vh);
}
#top-left-container{
  height: 100%;
  flex-basis: 100%;
  padding-right: 12.75px;
}
#top-right-container{
  height: 150%;
  margin-left: 10px;
  flex-basis: 50%;
}
#middle-left-container{
  margin-right: 10px;
}
#middle-right-container{
  margin-left: 10px;
}
#middle-left-container, #middle-right-container, #btn{
  width: 100%;
  flex-basis: 100%;
}
#bottom-left-container{
  height: 150%;
  flex-basis: 50%;

  margin-right: 10px;
}
#bottom-right-container{
  height: 100%;
  flex-basis: 100%;
  padding-left: 12.75px;
}

.hidden{
  visibility: hidden;
}
.animateX {
  display: block; 
  transform: translateX(0);
  transition: transform 1s ease;
}
.animateY {
  display: block; 
  transform: translateY(0);
  transition: transform 1s ease;
}
.center{
  height: min(80vh, 80vw);
  width: min(80vh, 80vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center .row, .center #button-container{
  height: 100%;
}


.full{
  width: 100%;
  height: 100%;
}
.middle-left-content, .middle-right-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.info-text{
  margin: 10px 0px;
}
.edu-title{
  margin-top: 10px;
  margin-bottom: 10px;
}
.edu{
  list-style-type: circle;
}
.edu-list{
  margin:0;
}
.compact-pic{
  height: 100%;
  width: 100%;
  background-image: url("/pictures/walker.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.column{
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  align-items: start;
}
.content-top-padding{
  padding-top: 15px;
}
.middle-right-content h1{
  padding: 15px;
  font-size: 22px;
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}


.drop {
  position: absolute;
  bottom: 100%;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(110vh);
  }
}

.stem {
  width: 2px;
  height: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.snowflake {
  color: #AEE0F2;
  font-size: 2em;
  font-family: Arial, sans-serif;
  z-index: 0;
}


.slow-drop {
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: slow-drop 10s linear infinite;
}

.shake {
  cursor: default;
  animation: shake 3s ease-in-out infinite;
}

@keyframes slow-drop {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
  }
}

