#background{
    width: 100vw;
    height: 100vh;
}

#button-container{
    width: 30vw;
    height: auto;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;



    padding: 20px;


}

.btn{
    background-color: white;

    color: black;

    border: 2px solid #F44336;

    margin: auto;

    padding: 10px auto;

    text-decoration: none;

    font-size: 24px;

    transition-duration: 0.4s;

    font-family: cursive;

    width: calc(200px + 10vw);

    height: auto;

 
}

.btn:hover{
    cursor: pointer;
}

body{
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a { color: inherit; } 


@font-face {
    font-family: cursive;
    src: url(fonts/WeddingdayPersonalUseRegular-1Gvo0.ttf);
}

#top-nav{
    width: 100%;
    font-family: "Roboto", sans-serif;
    position: absolute;
    z-index: 1;
    background-color: white;
    color: black;

    display: flex;
    justify-content: space-between;
}

.horizontal-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.horizontal-bar-item{
    float: left;
}

.top-bar-item{
    margin: 10px;
    padding: 10px;
}

.horizontal-bar-item a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#main-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15vh;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#dark-mode-container, #light-mode-container{
    transition: color 2s ease;  /* Apply transition to color change */
}
.arrow{
    transition: border 2s ease;  /* Apply transition to color change */

}
.percentage-container{
    transition: color 2s ease;  /* Apply transition to color change */
    color:white;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.horizontal-bar-item a:hover{
    cursor: pointer;
    font-weight: 450;
}
.overlay{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);  /* Dark background */
  display: none; /* Hidden by default */
  z-index: 2; /* Ensure it’s above other content */
}
.icon{
    height: 24px;
    width: 24px;
}

h1{
    font-size: 24px;
    text-align: center;
    margin: 0;
}

#location{
    font-size: 16px;
    color: grey;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top-nav-compact{
    display: none;
}
#top-nav-compact span{
    display: block;
}
#top-nav-compact span:hover{
    background-color: grey;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
}
#top-nav-compact p{
    display: block;
    font-size: 20px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style-type: none;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
}



.sidenav a{
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover{
    color: grey;
}

@media screen and (max-width: 700px){
    #top-nav-compact{
        display: inline;
    }
    #top-nav{
        background-color: none;
    }
    #top-nav-full{
        display: none;
    }
}

.light-container{
    opacity: 1;
    transition: opacity 2s ease-out; /* Smooth transition for opacity and height */
}

.dark-container{
    transition: opacity 2s ease-in-out; /* Smooth transition for opacity and height */
    opacity: 1;
}

.hidden {
    opacity: 0; /* Make the element invisible */
  }

.light-mode{
    color: black;

}


.light-container a {
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    transition: opacity .3s;
    }
  .light-container a span {
      position: absolute;
      bottom: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
      -webkit-animation: sdb06 1.5s infinite;
      animation: sdb06 1.5s infinite;
      box-sizing: border-box;
    }


.dark-container a {
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  }
.dark-container a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }


  @-webkit-keyframes sdb06 {
    0% {
      -webkit-transform: rotate(135deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(135deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb06 {
    0% {
      transform: rotate(135deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(135deg) translate(-20px, 20px);
      opacity: 0;
    }
  }