@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root{
  /* base theme color palette */
  --base-primary-color: white;
  --base-primary-text-color: black;


  /* typography sizes */
  --header-font-size: 22px;
  --text-font-size: 20px;

  --border-radius-size: 10px;
}

/* height and width to 100% for mobile devices to detect screen size*/
html{
  width: 100%;
  height: 100%;
}

/* remove scroll bar and remove selecting elements */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Button container styling */
#button-container {
  order: 1;
  background-color: white;
}
#top-left-container{
  order: 2;
}
#bottom-left-container{
  order: 3;
}
#bottom-right-container{
  order: 4;
}
#middle-left-container, #middle-right-container{
  display: none;
}

/* Button styling with hover effect */
.btn {
  margin: auto;
  padding: 10px 5px;
  width: calc(180px + 20vw);
  height: auto;
  z-index: 1;
  border: 0px transparent;
}
.center-text-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#top-left-container > p{
  margin: 10px 0px;
}

/* Main content container */
#main-content-container {
  height: calc(100% - 68px - 1em - 1em);
  width: 100%;
}

/* Transition containers */
#dark-mode-container, #light-mode-container, #location, #center-name-text {
  transition: color 1s ease;
}

/* Name styling */
#center-name-text {
  font-weight: normal;
}

#location {
  font-size: 16px;
  margin: 0;
}
/* Full-screen container */
.whole-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.remove{
  display: none;
}

.name-plate-content{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-size);
}
.name-plate{
  width: calc(100% - 6px);
  height: 5em;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-size);
  margin: 5px;
}
.name-plate::after, .name-plate::before{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px;
  background: linear-gradient(var(--gradient-angle), #6a11cb, #2575fc);
  z-index: -1;
  border-radius: inherit;
  content: "";
  animation: rotate 10s infinite linear;
}

.clickable:hover {
  cursor: pointer;
}

.tech-row{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.tech-grid{
  display: grid;
  grid-auto-rows: 60px;
  grid-template-columns: repeat(auto-fit, minmax(125px,1fr));
  gap: 5px;

  padding: 15px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100vw;
  padding: 16px;
}
.my-tech-logo-container{
  margin: 10px;
}
.logo-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.logo-container{
  display: flex;
  flex-direction: row;
}
.logo-img{
  height: 3em;
  width: 3em;
}
.logo-text{
  font-size: normal;
}

.flex-center-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content-container-start{
  gap: 15vh;
}

.flex-start-content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 1em;
}
.box{
  border-radius: var(--border-radius-size);
  transition: transform 1s ease;
}
.center{
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.light-theme-top-nav{
  background-color: transparent;
}
.light-theme-box{
  background-color: #dadde0;
  color: black;
}
.dark-theme-box{
  background-color: #232326;
  color: white;
}
/* Arrow transition effect */
.arrow {
  transition: border 1s ease;
}

/* Light and dark container transitions */
.light-container, .dark-container {
  transition: opacity 2s ease-in-out; /* Smooth transition for opacity */
}

.scroll-container{
  display: none;
}

/* Arrow container styling */
.arrow-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.arrow-container a {
  z-index: 2;
  display: inline-block;
  transition: opacity .3s;
}

.arrow-container a span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  box-sizing: border-box;
}

/* Light container arrow animation */
.light-container a {
  transform: translate(0, 50%);
}

.light-container a span {
  position: absolute;
  bottom: 50%;
  animation: point-up 1.5s infinite;
}

/* Dark container arrow animation */
.dark-container a {
  transform: translate(0, -50%);
}

.dark-container a span {
  top: 50%;
  transform: rotate(-45deg);
  animation: point-down 1.5s infinite;
}

.hidden{
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.animate-center-box {
  display: block; 
  transform: translateX(0);
  transform: translateY(0);
  transition: transform 1s ease;
}

.full{
  width: 100%;
  height: 100%;
}
.middle-left-content, .middle-right-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.compact-pic{
  height: 100%;
  width: 100%;
  background-image: url("/pictures/walker.jpg");
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius-size);
}
.center-text-flex-column{
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  align-items: start;
}
.center-text-offset-top-padding{
  padding-top: 15px;
}
.middle-right-content h1{
  font-size: var(--header-font-size);
}
.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.drop {
  position: absolute;
  bottom: 100%;
  animation: drop 0.5s linear infinite;
}
.stem {
  width: 2px;
  height: 60px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}
.snowflake {
  color: #AEE0F2;
  font-size: 2em;
  font-family: Arial, sans-serif;
  z-index: 0;
}
.slow-drop {
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: drop 10s linear infinite;
}
.horizontal-shake {
  cursor: default;
  animation: shake 3s ease-in-out infinite;
}
.edu{
  list-style-type: circle;
}
.edu-list{
  margin:0;
}

.white-text{
  color: white;
}
.black-text{
  color: black;
}
.white-border{
  border-color: white;
}
.black-border{
  border-color: black;
}
.black-background{
  background-color: black;
}
.white-background{
  background-color: white;
}

/* spin animation */
@keyframes rotate {
  0%{
    --gradient-angle: 0deg;
  }
  100%{
    --gradient-angle: 360deg;
  }
}

/* move up and disappear animation */
@keyframes point-up {
  0% {
    transform: rotate(135deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(135deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* move and and disappear animation */
@keyframes point-down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* translate down animation */
@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(110vh);
  }
}

/* disappear animation */
@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* horizontal shake translate animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 800px) {
  
  .rain{
    display: none;
  }
  .snow{
    display: none;
  }

  .row{
    flex-direction: column;
  }
  .center{
    overflow: auto;
  }
  .center::-webkit-scrollbar {
    display: none;
  }


  #top-right-container{
    display: none;
  }

  .box{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
}

/* Screen width more than 800px */
@media screen and (min-width: 800px) {
  .whole-screen{
    height: 100vh;
  }

  .flex-start-content{
    justify-content: center;
    margin: 0;
  }
  .name-plate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .left{
    transform: translateX(-100vw);
  }
  .right{
    transform: translateX(100vw);
  }
  .bottom{
    transform: translateY(100vh);
  }

  .center{
    width: 90vw;
    max-width: 1000px;
    height: auto;
    max-height: min(800px,90%);
    display: grid;
    gap: 10px;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
  }

  #top-left-container{
    order: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #top-right-container{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  #button-container{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
  }
  #middle-left-container{
    display: block;
  }
  #middle-right-container{
    display: block;
    grid-row-start: 3;
    grid-column-start: 3;
  }
  #bottom-left-container{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  #bottom-right-container{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
  }
}

/* Screen height more than 600px */
@media screen and (min-height: 600px) {
  .scroll-container{
    display: block;
  }
}

/* Screen height less than 850 */
@media screen and (max-height: 850px) {
  
}

/* Screen width between 800 and 1000 */
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .tech-grid{
    grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
  }
  .logo-text{
    display: none;
  }
}