.main-content-container{
    height:100%;
    width: 100%;

    display: flex;
    flex-direction: column;

}
.dark{
    color: white;
    background-color: black;
}
.white{
    color: black;
    background-color: white;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
    margin: 14px 0px;
    font-weight: normal;
}

.whole-screen{
    height: 100vh;
    width: 100vw;
}
.clickable:hover{
    cursor: pointer;
}
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: min(100px, 6vw);
    margin-right: min(100px, 6vw);
    padding-bottom: 20px;
    gap: 1em;
}

.project-title{
    text-align: left;
    margin: 0;
}
.project-preview{
    max-width: 100%;
    max-height: 60vh;
}